<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book Page</title>
    <link rel="stylesheet" href="/css/formStyle.css">
	<script src="/js/authenticate.js"></script> 
</head>
<body>
	<div class="container">
			<h1>Add a New Book</h1>
		    <form id="addBookForm" enctype="multipart/form-data" class="form-data">
				<p>Book Name</p>
		        <input type="text" name="name" placeholder="Book Name" required><br>
				<p>Author Name</p>
		        <input type="text" name="author" placeholder="Author" required><br>
				<p>Image</p>
		        <input type="file" name="image" accept="image/*" required><br>
				<p>Start Date</p>
		        <input type="date" name="startDate" required><br>
				<p>Genre</p>
		        <input type="text" name="genre" placeholder="Genre"><br>
				<p>Status</p>
		        <select name="status" required>
					<option value="TO_READ">To Read</option>
					<option value="READING">Reading</option>
					<option value="READ">Read</option>
		        </select><br>
		        <button type="submit">Submit</button>
		    </form>
		</div>
		<div class="wrapper">
			<nav>
				<ul class="nav-links">
					<li><a href="/api/home">⬅️ Back</a></li>
				</ul>
			</nav>
		</div>
		<br>
		
	    <script>
	        document.getElementById("addBookForm").addEventListener("submit", async function(e) {
	            e.preventDefault();
	            const form = e.target;
				const formData = new FormData(form);
				
				formData.append("description", "");
				formData.append("rating", "");
				formData.append("endDate", "");
	            
	            const token = localStorage.getItem("token");

	            await fetch("/api/home/add", {
	                method: "POST",
	                headers: {
	                    
	                    "Authorization": `Bearer ${token}`
	                },
	                body: formData
	            }).then(res => {
				    if (!res.ok) throw new Error("Failed to save: " + res.status);
				    return res.json();
				}).then(data => {
				    console.log("Saved:", data);
				    window.location.href = "/api/home"; // or wherever
				}).catch(err => {
				    console.error(err);
				});
	        });
	    </script>
</body>
</html>