<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css">
	
</head>
<body>
    <div class="wrapper" id="response">
		<h1>Home</h1>
    </div>
	
	<script>
	    document.addEventListener("DOMContentLoaded", function () {
	      const token = localStorage.getItem("token");

	      if (!token) {
	        alert("No token found. Please login.");
	        window.location.href = "/api/login";
	        return;
	      }

	      fetch("/api/home", {
	        headers: { Authorization: "Bearer " + token }
	      })
	      .then(res => {
	        if (!res.ok) throw new Error("Unauthorized");
	        return res.text();
	      })
	      .then(data => {
	        const dataDiv = document.getElementById("data");
	        if (dataDiv) {
	          dataDiv.innerText = data;
	        }
	      })
	      .catch(() => {
	        alert("Access denied. Login again.");
	        localStorage.removeItem("token");
	        window.location.href = "/api/login";
	      });
	    });
	  </script>
</body>
</html>